html{
    background-color: black;
    box-shadow: #6424B9;
}
.heading{
display: flex;
flex-direction: row;
align-items: center;
-ms-flex-align: center;
 justify-content: space-between

}
 a{
    color: white;
    text-decoration: none;
  
 }
#Register{
    width:100px;
    height: Hug (48px)px;
    top: 36px;
    left: 1107px;
    padding: 10px 19px 10px 19px;
    gap: 10px;
    opacity: 0px;
    background: #792CD4;
    color: white;
}
#elements {
   
    display: flex;
      gap: 10px;
    justify-content: center;
    justify-content: space-between;
}


#tap{
color: white;
 font-family: "Amita", serif;
    font-size: 141px;
    font-weight: 400;
    line-height: 171.6px;
    text-align: left;
    font-style: italic;

}
.Gunshot{
    display: flex;
    justify-content: center;
   
    

}
.hello{
    color: white;
    font-family: "Amita", serif;
    font-size: 30px;
    font-weight: 200;
    padding-left: 30%;
   

}
.Completed{
 width: 386px;
height: 125px;
top: 549px;
left: 848px;
gap: 0px;
opacity: 0px;
background: linear-gradient(90deg, rgba(140, 0, 153, 0) 0%, #6424B9 100%);

margin-left: 1050px;
}

.sky{
    color: white;
    font-family: "Amita", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.52px;
    text-align: left;
    margin-left: 30px;
}

#Vacancies{
    width: 100px;
    padding:10px;
    gap: 10px;
    opacity: 0px;
    background: #792CD4;
    color: white;

}
#Access{
    width: 100px;
    padding:10px;
    gap: 10px;
    opacity: 0px;
    background: #792CD4;
    color: white;
}
.low{
    display: flex;
    flex-direction: row;
   margin-left: 30px;
   gap: 10px;

}


#now{
   


opacity: 0px;
font-family: Space Grotesk;
font-size: 80px;
font-weight: 500;
    text-align: center;
    color: white;
}
.para{
    color: white;
    width: 468px;
height: 78px;
top: 1378px;
left: 71px;
gap: 0px;
opacity: 0px;
font-family: Space Grotesk;
font-size: 20px;
font-weight: 400;
line-height: 25.52px;
text-align: left;

}
#ho{
    color: white;
    width: 300px;
height: 112px;
top: 1241px;
left: 72px;
gap: 0px;
opacity: 0px;
font-family: Space Grotesk;
font-size: 44px;
font-weight: 400;
line-height: 56.14px;
text-align: left;

}
.tree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}
#pics{
    display: grid;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1;
        justify-content: center;
        overflow: hidden;
        gap: 20px 20px;
}

.poo:nth-of-type(3) {


   grid-column:1/span2
}

.dry{
    text-align: center;
}

footer{
    background: #792CD4;

    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-left:0px;
    padding: 1px;

}



form {
    width: 40rem;
    margin: auto;
    background-color: rgb(246, 250, 255);
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  section {
    margin-bottom: 1rem;
 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  label {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid rgb(152, 159, 184);
    width: 50%;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
 align-items: center;
  }
  
  button {
    font: inherit;
    border: 1px solid rgb(51, 67, 100);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
   
  }
  
  .btn-filled {
    background: #792CD4;
justify-content: center;
    color: white;
  }
  .btn-filled:hover {
    background-color: rgb(69, 89, 129);
    border-color: rgb(69, 89, 129);
  }
  .dry{
    color: #fff;
 
gap: 0px;
opacity: 0px;
font-family: Space Grotesk;
font-size: 96px;
line-height: 122.5px;
text-align: center;
  }
  .flow{
    padding-left: 500px;
  }
  #form-actions{
    padding-left: 700px;
  }
